{
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 280,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"singleAttributePerLine": false,
	"importOrder": [
		"^components/(.*)$",
		"^services/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}